<form (ngSubmit)="sendSignUp()">
  {{ signUpData |json }}
  <ion-list>
    <ion-label>Geschlecht</ion-label>

    <ion-radio-group>
      <ion-list-header>
        <ion-label>
          Weiblich
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Weiblich</ion-label>
        <ion-radio
                value="w"
                name="gender"
                [(ngModel)]="signUpData.gender"
        ></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Männlich</ion-label>
        <ion-radio
                value="m"
                name="gender"
                [(ngModel)]="signUpData.gender"
        ></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Divers</ion-label>
        <ion-radio
                value="d"
                name="gender"
                [(ngModel)]="signUpData.gender"
        ></ion-radio>
      </ion-item>
    </ion-radio-group>

  </ion-list>
</form>
