ion-grid ion-row {
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}

ion-range {
  padding-top: 10px
}

.emoji {
  font-size: 2rem;
}

.range-pin {
  visibility: hidden;
}
