<ion-grid>
    <ion-row *ngFor="let q of questions">
        <ion-col size="12">
            <ion-item-divider>
                <ion-label>
                    {{q.question}}
                </ion-label>
            </ion-item-divider>
        </ion-col>
        <ion-col size="12">
            <ion-range #slider color="danger" pin="true" [debounce]="50" [max]="1200" [step]="15" [snaps]="true"
                       (ionChange)="onRangeChange(slider, q.id, $event.detail.value)">
                <ion-label slot="start" class="emoji">0️⃣</ion-label>
                <ion-label slot="end" class="emoji">{{q.emoji}}</ion-label>
            </ion-range>
        </ion-col>
    </ion-row>
</ion-grid>
