<ion-content>

    <ion-segment (ionChange)="mode = $event.detail.value" [value]="mode">
        <ion-segment-button value="moode">
            <ion-label>Stimmung</ion-label>
        </ion-segment-button>
        <ion-segment-button value="health">
            <ion-label>Aktivität</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ng-container [ngSwitch]="mode">
        <quest-form *ngSwitchCase="'moode'" (onChange)="onMoodResponse($event)"></quest-form>
        <quest-health *ngSwitchDefault (onChange)="onHealthResponse($event)"></quest-health>
    </ng-container>
</ion-content>
