<ion-content>
    <ion-tabs>

        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="mood">
                <ion-icon name="happy-outline"></ion-icon>
                <ion-label>Stimmung</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="chart">
                <ion-icon name="bar-chart-outline"></ion-icon>
                <ion-label>Auswertung</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="map">
                <ion-icon name="map-outline"></ion-icon>
                <ion-label>Karte</ion-label>
            </ion-tab-button>

        </ion-tab-bar>

    </ion-tabs>
</ion-content>
