.input {
  border: 1px solid #ccc;
}

.multiline ion-label {
  white-space: normal;
}

.form-header {
  padding-bottom: 1.5rem;
}

ion-item {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.button {
  text-align: center;
}
