<ng-container *ngIf="chartMap | async as map">
    <ng-container [ngSwitch]="questionId">
        <ng-container *ngFor="let u of map">
            <highcharts-chart *ngSwitchCase="u.questionId"
                              [Highcharts]="Highcharts"
                              [constructorType]="'mapChart'"
                              [options]="u.chartOptions"
                              style="width: 100%; height:100%; display: block;"
            ></highcharts-chart>
        </ng-container>
    </ng-container>
</ng-container>
