<ion-header>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Impressum</ion-title>
        </ion-toolbar>
    </ion-header>
</ion-header>

<ion-content>

    <ion-card>
        <div style="background: #3BDDCB; padding: 1rem; text-align: center;">
            <img src="/assets/logo.svg"/>
        </div>
        <ion-card-header>
            <ion-card-subtitle>Angaben gem&auml;&szlig; &sect; 5 TMG</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col><h1>Betreiber / Verantwortliche</h1></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-text color="primary">
                            <h2>App</h2>
                        </ion-text>
                        <address>
                            <strong>Kay Schecker</strong><br/>
                            Im Tiefentobel 5<br/>
                            73061 Ebersbach<br/>
                            <br/>
                            <a href="mailto:app@wiegehts.app">app@wiegehts.app</a>
                        </address>
                    </ion-col>
                    <ion-col>
                        <ion-text color="primary">
                            <h2>Server</h2>
                        </ion-text>
                        <address>
                            <strong>Jan-Paul Nachtwey</strong><br/>
                            Hafenalle 17<br/>
                            63067 Offenbach<br/>
                            <br/>
                            <a href="mailto:server@wiegehts.app">server@wiegehts.app</a>
                        </address>
                    </ion-col>
                </ion-row>
                <ion-row style="margin-top: 2rem">
                    <ion-col>
                        <a href="https://wirvsvirushackathon.org/" target="_blank">
                            <img src="assets/logo-hack.svg"/>
                        </a>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

</ion-content>
