<h1>Datenschutzerklärung</h1>
<p>
  Wir haben diese Datenschutzerklärung (Fassung 14.04.2020-311169578) verfasst, um Ihnen gemäß der
  Vorgaben der Datenschutz-Grundverordnung (EU) 2016/679 zu erklären, welche Informationen wir sammeln,
  wie wir Daten verwenden und welche Entscheidungsmöglichkeiten Sie als Benutzer dieser App haben.
</p>
<p>
  Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen, wir haben uns bei
  der Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu beschreiben.
</p>

<h1>Automatische Datenspeicherung</h1>
<p>
  Wenn Sie heutzutage Apps benutzen, werden gewisse Informationen automatisch erstellt und gespeichert,
  so auch bei dieser App.
</p>
<p>
  Wenn Sie unsere App benutzen, dann speichert unser Webserver (Computer auf dem die Eingegeben Daten
  gespeichert werden) Daten wie
</p>
<ul>
  <li>das verwendete Betriebssystem</li>
  <li>den Hostname und die IP-Adresse des Geräts von welchem aus zugegriffen wird</li>
  <li>Datum und Uhrzeit</li>
</ul>
<p>
  in Dateien (Webserver-Logfiles).
</p>
<p>
  In der Regel werden Webserver-Logfiles zwei Wochen gespeichert und danach automatisch gelöscht. Wir
  geben diese Daten nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von
  rechtswidrigem Verhalten eingesehen werden.
</p>
<h1>Speicherung persönlicher Daten</h1>
<p>
  Persönliche Daten, die Sie uns in dieser App elektronisch übermitteln, wie zum Beispiel Geschlecht,
  Personen im Haushalt oder die Antworten auf unsere Stimmungs- und Gesundheitsfragen, werden von uns
  gemeinsam mit dem Zeitpunkt gespeichert, zum jeweils angegebenen Zweck verwendet, sicher verwahrt und
  nicht an Dritte weitergegeben.
</p>
<p>
  Wir nutzen Ihre persönlichen Daten nur für Ihre persönliche Auswertung und um ein Stimmungsbild für
  Deutschland zu berechnen. Hier ist es uns nicht möglich Rückschluss auf Ihre Person zu ziehen.
  Wir geben Ihre persönlichen Daten ohne Zustimmung nicht weiter, können jedoch nicht ausschließen, dass
  diese Daten beim Vorliegen von rechtswidrigem Verhalten eingesehen werden.
</p>
<p>
  Wenn Sie uns persönliche Daten per E-Mail schicken – somit abseits dieser App – können wir keine
  sichere Übertragung und den Schutz Ihrer Daten garantieren. Wir empfehlen Ihnen, vertrauliche Daten
  niemals unverschlüsselt per E-Mail zu übermitteln.
</p>
<p>
  Die Rechtsgrundlage besteht nach Artikel 6 Absatz 1 a DSGVO (Rechtmäßigkeit der Verarbeitung) darin,
  dass Sie uns die Einwilligung zur Verarbeitung der von Ihnen eingegebenen Daten geben. Sie können diesen
  Einwilligung jederzeit widerrufen – eine formlose E-Mail reicht aus, Sie finden unsere Kontaktdaten im
  Impressum.
</p>
<h1>Rechte laut Datenschutzgrundverordnung</h1>
<p>
  Ihnen stehen laut den Bestimmungen der DSGVO grundsätzlich die folgende Rechte zu:
</p>
<ul>
  <li>Recht auf Berichtigung (Artikel 16 DSGVO)</li>
  <li>Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)</li>
  <li>Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</li>
  <li>Recht auf Benachrichtigung – Mitteilungspflicht im Zusammenhang mit der Berichtigung oder Löschung
    personenbezogener Daten oder der Einschränkung der Verarbeitung (Artikel 19 DSGVO)
  </li>
  <li>Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</li>
  <li>Widerspruchsrecht (Artikel 21 DSGVO)</li>
  <li>Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung — einschließlich Profiling
    — beruhenden Entscheidung unterworfen zu werden (Artikel 22 DSGVO)
  </li>
</ul>
<p>
  Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre
  datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich an
  die Bundesbeauftragte für den Datenschutz und die Informationsfreiheit (BfDI) wenden.
</p>
<h1>TLS-Verschlüsselung mit https</h1>
<p>
  Wir verwenden https, um Daten abhörsicher im Internet zu übertragen (Datenschutz durch
  Technikgestaltung Artikel 25 Absatz 1 DSGVO). Durch den Einsatz von TLS (Transport Layer Security),
  einem Verschlüsselungsprotokoll zur sicheren Datenübertragung im Internet können wir den Schutz
  vertraulicher Daten sicherstellen.
</p>
<h1>Google Fonts</h1>
<p>
  In unserer App nutzen wir Google Fonts der Firma Google Inc. Für den europäischen Raum ist das
  Unternehmen Google Ireland Limited (Gordon House, Barrow Street Dublin 4, Irland) verantwortlich. Wir
  haben die Google-Schriftarten lokal, d.h. mit der App ausgeliefert und nicht über die Server von Google
  eingebunden. Dadurch gibt es keine Verbindung zu Google-Servern und somit auch keine Datenübertragung
  oder Speicherung.
</p>
<h2>Was sind Google Fonts?</h2>
<p>
  Früher nannte man Google Fonts auch Google Web Fonts. Dabei handelt es sich um ein interaktives
  Verzeichnis mit über 800 Schriftarten, die Google kostenlos bereitstellt. Mit Google Fonts könnte man
  Schriften nutzen, ohne sie auf den eigenen Server hochzuladen. Doch um diesbezüglich jede
  Informationsübertragung zu Google-Servern zu unterbinden, haben wir die Schriftarten in unsere App
  eingebunden. Auf diese Weise handeln wir datenschutzkonform und senden keine Daten an Google Fonts
  weiter.
</p>
<p>
  Anders als andere Web-Schriften erlaubt uns Google uneingeschränkten Zugriff auf alle
  Schriftarten. Wir können also unlimitiert auf ein Meer an Schriftarten zugreifen und so das Optimum für
  unsere App rausholen. Mehr zu Google Fonts und weiteren Fragen finden Sie
  auf <a href="https://developers.google.com/fonts/faq?tid=311169578">https://developers.google.com/fonts/faq?tid=311169578</a>.
</p>
<p>
  <small>Quelle: Erstellt mit dem Datenschutz Generator von AdSimple in Kooperation mitbauenwir.de</small>
</p>
