<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Heatmap
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <leafletLayersDemo *ngIf="showDemo"></leafletLayersDemo>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-segment [value]="mode" (ionChange)="mode = $event.detail.value">
            <ion-segment-button *ngFor="let q of questionService.getAllMoodQuestions()" [value]="q.id">
                <ion-label>{{q.emoji}}</ion-label>
            </ion-segment-button>
        </ion-segment>
        <ng-container *ngFor="let q of questionService.getAllMoodQuestions()">
            <div style="text-align: center; background: #BCFFF7; padding: 0.2rem; color: #002C27" *ngIf="q.id === mode">
                {{q.question}}
            </div>
        </ng-container>
    </ion-toolbar>
</ion-footer>
